<div class="overflow-hidden my-5 mx-auto max-w-7xl bg-white shadow sm:rounded-lg">
  <article class="p-10 max-w-full prose prose-slate prose-a:text-blue-500">
    <%= raw(
      Earmark.as_html!("""
      # Terms of Service

      Please read these Terms and Conditions carefully before using the
      #{YearbookWeb.Endpoint.url()} website (the "Service").

      Your access to and use of the Service is conditioned on your acceptance of and
      compliance with these Terms. These Terms apply to all visitors, users and
      others who access or use the Service.

      By accessing or using the Service you agree to be bound by these Terms. If you
      disagree with any part of the terms then you may not access the Service.

      ## Accounts

      When you create an account in our Service, you must provide us information that is
      accurate, complete, and current at all times. Failure to do so constitutes a
      breach of the Terms, which may result in immediate termination of your account
      on our Service.

      You are responsible for safeguarding the password that you use to access the
      Service and for any activities or actions under your password, whether your
      password is with our Service or a third-party service.

      You are responsible for safeguarding your account, so we suggest the adoption of a strong password and limit its use to this account. We cannot and will not be liable for any loss or damage arising from your failure to comply with the above.

      ## Links To Other Web Sites

      Our Service may contain links to third-party web sites or services that are
      not owned or controlled by the site owner.

      The site owner has no control over, and assumes no responsibility for, the
      content, privacy policies, or practices of any third party web sites or
      services. You further acknowledge and agree that the site owner shall not be
      responsible or liable, directly or indirectly, for any damage or loss caused
      or alleged to be caused by or in connection with use of or reliance on any
      such content, goods or services available on or through any such web sites or
      services.

      We strongly advise you to read the terms and conditions and privacy policies
      of any third-party web sites or services that you visit.

      ## Termination

      We may terminate or suspend access to our Service immediately, without prior
      notice or liability, for any reason whatsoever, including without limitation
      if you breach the Terms.

      All provisions of the Terms which by their nature should survive termination
      shall survive termination, including, without limitation, ownership
      provisions, warranty disclaimers, indemnity and limitations of liability.

      We may terminate or suspend your account immediately, without prior notice or
      liability, for any reason whatsoever, including without limitation if you
      breach the Terms.

      Upon termination, your right to use the Service will immediately cease. If you
      wish to terminate your account, you may simply discontinue using the Service.

      All provisions of the Terms which by their nature should survive termination
      shall survive termination, including, without limitation, ownership
      provisions, warranty disclaimers, indemnity and limitations of liability.

      ## Indemnity

      You agree to indemnify and hold harmless The site owner for any third-party
      claims, actions or suits, as well as any related expenses, liabilities,
        damages, settlements or fees arising from your use or misuse of the Software,
      or a violation of any terms of this license.

      ## Disclaimer Of Warranty

      The Software is provided “as is”, without warranty of any kind, expressed or
      implied, including, but not limited to, warranties of quality, performance,
      non-infringement, merchantability, or fitness for a particular purpose.
      Further, the site owner does not warrant that the software or any related
      service will always be available.

      ## Limitations Of Liability

      By using the Service you agree that our liability is limited to the maximum extent permissible in your country of residence.
        Furthermore, you assume all risk associated with the installation and use of the software.
      In no event shall the authors or copyright holders of the software be liable
      for claims, damages or other liability arising from, out of, or in connection
      with the software. License holders are solely responsible for determining the
      appropriateness of use and assume all risks associated with its use, including
      but not limited to the risks of program errors, damage to equipment, loss of
      data or software programs, or unavailability or interruption of operations.
      
                                                          
      ## User's responsibilities 
      
      You are responsible for you use of the Service and for any content you provide, including compliance with applicable laws, rules and regulations.
      Any use or reliance of any content or materials postet via the Service, or obtained by you through the Service is at your own risk. We do not endore, support, represent or guarantee the completeness, truthfulness, accuracy or reliability of any content or communications in the Service, or endorse any opinios expressed via the Service. You understand that, by using the Service, you may be exposed to content that might be offensive, harmful, innacurate or otherwise inappropriate. 
      All content is the sole responsibility of the person who originated such content. We may not monitor or control the content posted via the Service, and we cannot take responsibility for such Content.                                                     
      We reserve the right to remove content that violates the Terms and Conditions, with no necessary proof of such violations.                                                  

      ## Changes

      We reserve the right, at our sole discretion, to modify or replace these Terms
      at any time. These Terms of Service may change sporadically. The changes are not retroactive and the most current version of the Terms of Service, to be found at placeholder will govern the conditions hereby defined.  we will try to provide at least 30 days
      notice prior to any new terms taking effect. 

      By continuing to access or use our Service after those revisions become
      effective, you agree to be bound by the revised terms. If you do not agree to
      the new terms, please stop using the Service.

      ## Contact Us

      If you have any questions about these Terms, please [contact us](https://cesium.di.uminho.pt/contact).

      <sub>Last updated: #{~D[2022-05-30]}</sub>
      """)
    ) %>
  </article>
</div>
