<div class=" z-10 flex justify-end items-center grow h-full">
  <div class="flex flex-col gap-6 -strech bg-white w-full md:w-150 h-fit rounded-2xl py-8 px-5 sm:p-8 my-auto mr-5 ml-5">
    <div class="flex flex-row">
      <div class="flex flex-col gap-2">
        <h1 class="text-3xl font-bold tracking-normal text-black">
          Sign up to
        </h1>
        <h1 class="text-5xl font-bold tracking-normal text-black">
          Yearbook
        </h1>
      </div>
    </div>
    <div class="flex flex-col">
      <div>
        <.live_component
          module={YearbookWeb.SignUpLive.FormComponent}
          id="sign-up-form-component"
          form={@form}
        />
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <.button
        class="h-12 w-full hover:scale-101 transition-transform bg-primary rounded "
        variant="primary"
      >
        Sign up
      </.button>
      <div class="text-center">
        <span class="text-black">Already have an account? </span>
        <a
          class="inline-block text-primary underline cursor-pointer hover:text-[#E37044] hover:scale-110 transition-all"
          href="/signin"
        >
          Log in
        </a>
      </div>
    </div>
  </div>
</div>