<div class="flex min-h-screen">
  <YearbookWeb.BackofficeComponents.sidebar
    pages={YearbookWeb.Config.backoffice_pages()}
    current_page={Map.get(assigns, :current_page)}
  />

  <main class="flex-1 bg-gray-50 p-10">
    <.flash_group flash={@flash} />
    {@inner_content}
  </main>
</div>
