<div class="flex flex-col lg:flex-row min-h-screen">
  <YearbookWeb.Sidebar.sidebar
    pages={YearbookWeb.Config.backoffice_pages()}
    current_page={Map.get(assigns, :current_page)}
  />

  <.flash_group flash={@flash} />
  {@inner_content}
</div>
