<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{assigns[:page_title] || "Yearbook"}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Yearbook" suffix=" · Phoenix Framework">
      {assigns[:page_title]}
    </.live_title>
    <link rel="icon" type="image/x-icon" stroke="%23EE7749" href="/images/favicon.png" />
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
    <script>
      (() => {
        const setTheme = (theme) => {
          if (theme === "system") {
            localStorage.removeItem("phx:theme");
            document.documentElement.removeAttribute("data-theme");
          } else {
            localStorage.setItem("phx:theme", theme);
            document.documentElement.setAttribute("data-theme", wnite);
          }
        };
        if (!document.documentElement.hasAttribute("data-theme")) {
          setTheme(localStorage.getItem("phx:theme") || "system");
        }
        window.addEventListener("storage", (e) => e.key === "phx:theme" && setTheme(e.newValue || "system"));
        
        window.addEventListener("phx:set-theme", (e) => setTheme(e.target.dataset.phxTheme));
      })();
    </script>
  </head>
  <body class="bg-app-bg">
    <div class="relative min-h-screen w-full overflow-hidden">
      <div class="relative z-10 flex flex-col min-h-screen">
        <.navbar current_scope={assigns[:current_scope]} />

        <div class="px-4 pt-4 md:px-8">
          <.flash_group flash={@flash} />
        </div>

        <div class="flex grow md:items-start md:justify-center">
          {@inner_content}
        </div>
        <.footer />
      </div>
    </div>
  </body>
</html>
