<%= if @current_user do %>
<% else %>
  <%= link("Sign in", to: Routes.user_session_path(@conn, :new), class: "inline-block bg-orange-500 py-2 px-4 border border-transparent rounded-md text-base font-medium text-white hover:bg-opacity-75") %>
  <%= link to: Routes.user_registration_path(@conn, :new), class: "inline-block bg-white py-2 px-4 border border-transparent rounded-md text-base font-medium text-orange-600 hover:bg-orange-50" do %>
    <span class="md:hidden">Sign up</span>
    <span class="hidden md:inline">Criar uma conta</span>
  <% end %>
<% end %>
